.confia {
    margin: 0 auto;
    width: 75%;
    display: flex;
    padding: 83px 0;
    justify-content: space-around;
}

.confia h1 {
    width: auto;
    font-weight: 700;
    font-size: 38px;
    line-height: 77px;
    color: #BD8C3D;
}


.confia-marcas {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-marcas {
    display: flex;
}


.item-marcas {
    min-width: 167px;
    padding: 0px 30px;
}

.item-marcas img {
    width: 100%;
    height: 90%;
    pointer-events: none;
}


.carousel-marcas {
    cursor: grab;
    overflow: hidden;
}

@media (max-width: 1245px) {
    .confia {
        flex-direction: column;
        align-items: center;
    }
    .confia h1{
        margin-bottom: 40px;
    }
}

@media (max-width: 570px) {
    .item-marcas {
        min-width: 146px;
        padding: 0px 28px;
    }
}