.sobreALetter {
    display: flex;
    margin: 0 auto;
    width: 75%;
}

.sobreALetter-area {
    display: flex;
    align-items: center;
}

.sobreALetter-area img {
    width: 70%;
    height: auto;
}

.sobreALetter-box {
    margin-top: 100px;
}

.sobreALetter-box h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #BD8C3D;

}

.sobreALetter-box p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #252A36;
    margin-top: 40px;
}

.sobreALetter-box ul {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}

.sobreALetter-box ul li{
    font-weight: bold;
    margin-top: 8px;

}

.sobreALetter-box a {
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
    background: #78B251;
    border-radius: 5px;
    width: 166px;
    padding: 9px 40px;
}

@media (max-width: 1270px) {
    .sobreALetter-area img {
        width: 55%;
    }
}

@media (max-width: 1180px) {
    .sobreALetter-area {
        flex-direction: column;
    }
    .sobreALetter-area img {
        margin-top: 40px;
    }
}


@media (max-width: 640px) {
    .sobreALetter {
        width: 85%;
    }
    .sobreALetter-box h1{
        font-size: 44px;
    }
    .sobreALetter-box p{
        font-size: 16px;
        width: 80%;
    }
    .sobreALetter-box ul {
        font-size: 18px;
    }
    .sobreALetter-area img {
        width: 310px;
    }
}

@media (max-width: 555px) {
    .sobreALetter {
        width: 95%;
    }
    .carousel-indicators {
        bottom: 111px;
    }
}

@media (max-width: 515px) {
    .sobreALetter-box {
        margin-top: 50px;
    }
}

@media (max-width: 475px) {
    .sobreALetter-box {
        margin-top: 84px;
    }
}

@media (max-width: 425px) {
    .sobreALetter-box {
        margin-top: 50px;
    }
    .sobreALetter-area img {
        width: 276px;
    }
}
