.faleConosco {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.faleConosco-box {
    display: flex;
    margin: 90px 0;
}

.faleConosco-box-texto {
    display: flex;
    flex-direction: column;
}

.faleConosco-box-texto h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #BD8C3D;
    margin-bottom: 30px;
}

.faleConosco-box-texto p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #252A36;
}

.faleConosco-form-area {
    display: flex;
    flex-direction: column;
}

.faleConosco img {
    width: 600px;
    height: 600px;
    margin-top: 40px;
}

.faleConosco-box-texto form {
    margin: 15px 0;
}

.faleConosco-box-texto input {
    border: none;
    border-bottom: 1px solid #CFCDC9;;
    padding: 5px 14px !important;
    font-size: 18px !important;
}

.faleConosco-box-texto input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #CFCDC9;
}

.faleConosco-form-area-checkbox {
    display: flex;
    margin-right: 10px;
}

.faleConosco-form-area-checkbox input {
    margin: 8px;
}

.faleConosco-form-area-checkbox .check-texto{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #252A36;
}

.faleConosco-form-area-submit .btn{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
    background: #78B251;
    border-radius: 5px;
    width: 166px;
    padding: 10px 40px; 
    margin:15px 0 5px; 
}

.faleConosco-form-area-submit .btn:hover {
        background: #78B251;
}

.loading-box, .error-box, .img-final {
    display: none;
}

.checkbox-list {
    margin: 25px 0;
}

.llform001 > div.button-bar > button {
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
    background: #78B251;
    border-radius: 5px;
    width: 166px;
    padding: 9px 40px;
}



@media (max-width: 1245px) {
    .faleConosco {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .faleConosco img {
        width: 450px;
        height: auto;
        margin-bottom: 50px;
    }
}

@media (max-width: 570px) {
    .faleConosco-box-texto h1 {
        font-size: 40px;
    }
    .faleConosco-box-texto p {
        font-size: 22px;
    }
}

@media (max-width: 570px) {
    .diferenciais h1 {
        font-size: 44px;
    }
    .faleConosco-box-texto h1 {
        font-size: 34px;
    }
    .faleConosco-box-texto p {
        font-size: 18px;
    }
    .faleConosco-box {
        margin: 40px 0;
    }
    .llform001 > div.button-bar > button {
        margin-top: 0px;
    }
    .faleConosco img {
        width: 340px;
    }
}