@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.main-section {
  background-image: url('../public/background-1.png');
  background-position: 0 0;
}

.confia-section {
  background: #252A36;
}

.footer-section {
  background-color: #252A36;
}


@media (max-width: 1365px) {
  .main-section {
    width: 1365px;
  }
  .confia-section {
    width: 1365px;
  }
  .footer-section {
    width: 1365px;
  }
}