@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}



.confia-section {
  background: #252A36;
}

.footer-section {
  background-color: #252A36;
}


